* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url(./bg.png);
background-position: center;
background-size: cover;
  overflow: hidden;
  color: white;
}

.container {
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.top-text {
  font-size: 18px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.main-text {
  font-size: clamp(20px, 5vw, 32px);
  font-weight: lighter;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Shiva image glow */
/* .image-box img {
  width: 200px;
  max-width: 80%;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px #00c3ff);
  }

  to {
    filter: drop-shadow(0 0 25px #00c3ff);
  }
} */

.image-box{
  width: 200px;
  margin: auto;
  padding: 30% 0;
  /* border: 1px solid #eee; */
}

/* Buttons */
.btn-box {
  margin-top: 20px;
  position: relative;
  display: flex;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  background: #00c853;
  color: white;
}

.no {
  background: #ff5252;
  color: white;
  position: relative;
}

/* Flower animation */
#flowers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.flower {
  position: absolute;
  top: -20px;
  font-size: 20px;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}



